 <link rel="stylesheet" href="/css/home.css">
 <div id="outer">
 <div id="title"><h1>SPOTIFY Search</h1></div>
 <div id="image"><img src="/images/bg4.jpg" width="50%" height="80%"</div>
 <div id="search">
 <div id="sub-title"><h3>Search Your Favourites - </h3></div>
<form method="post" action="/search">
<p>Welcome to Spotify Search. A Web App to Search for your favourite music on Spotify! Just enter your track and Click on Search. </p><br>
<label><p>Search for a Track:</p><br>
<input type="text" name="music" placeholder="Ex. Perfect" required>
</label><br><br>
<button type="submit"><b>Search</b></button>
</form>
</div>
</div>
